
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Project cloud</span>
      <span class = "spacer"></span>
      <!-- <a class = "whitelink" routerLink = "/signup" *ngIf = "!(authService.getUser()|async)">Signup</a> -->
      <!-- <a class = "whitelink" routerLink = "/login" *ngIf = "!(authService.getUser()|async)">Login</a> -->
      <div>
        <a class = "whitelink1" (click)="navigate()" >Login</a>
      </div>
        <div>
          <a class = "whitelink1" (click)="logout2()" >LogOut</a>
        </div>


      <!-- <a class = "whitelink1" (click) = "logout()" *ngIf = "(authService.getUser()|async)">Logout</a> -->
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
