<div *ngIf="!people" >
    <h1></h1>
    <div class="body">

        <div class="main">
            <h2>Please upload picture of the person</h2>
            <input (change)="onFilePicked($event)" class="custom-file-input"  type="file" />
            <button (click)="onUpload()" class="myButton">Upload file and check</button>
            <p *ngIf="errorMsg">Please select a file</p>
        </div>

    </div>

</div>
<div *ngIf="people" >
      <div *ngIf="!people.name" class="noResultDiv"> 
        <p>Unfortunately we don't have any information of the person in the photo.</p>
        
    </div>  
     <div *ngIf="people.name">
        <h2>Information result</h2>
        <p><b>Name : </b> {{people.name}}</p>
        <div *ngIf="people.date_of_birth"> 
        <p><b>Date of birth : </b>{{people.date_of_birth}}</p> 
        </div>
        <p><b>Infos : </b>{{people.description}}</p> 

    <button class="refresh" (click)="refresh()">New search</button>

</div>